---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Blog | rlatjwls7882">
  <h1>Blog</h1>

  <div class="post-list">
    {posts.map((post) => (
      <article class="post-card">
        <a href={`/blog/${post.id.replace(/\/index$/, '')}`}>
          <h2>{post.data.title}</h2>
          <p>{post.data.description}</p>
          <div class="tags">
            {post.data.tags.map((tag) => <span>#{tag}</span>)}
          </div>
        </a>
      </article>
    ))}
  </div>
</BaseLayout>
