---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { getPostCategory, getPostUrl } from '../utils/post';

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<BaseLayout title="rlatjwls7882">
  <section class="hero">
    <h1>rlatjwls7882이 PS하는 블로그</h1>
  </section>

  <section>
    <div class="post-list">
      {posts.map((post) => (
        <article class="post-card">
          <a href={getPostUrl(post.id)}>
            <div class="meta">
              <span>{post.data.category ?? getPostCategory(post.id)}</span>
            </div>

            <h3>{post.data.title}</h3>
            <p>{post.data.description}</p>

            <div class="meta">
              <time datetime={post.data.pubDate.toISOString()}>
                {post.data.pubDate.toLocaleDateString('ko-KR')}
              </time>
            </div>
          </a>
        </article>
      ))}
    </div>
  </section>
</BaseLayout>